# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Data
# data/

# Lab4-BRATS (elmed219-brats environment)
Lab4-BRATS/src/nnunet
Lab4-BRATS/src/batchgenerators
Lab4-BRATS/src/hd-bet
Lab4-BRATS/src/brats-toolkit
